<html>
<head>
  <title>{{ query }} - Clyde Search</title>
  <link href="main.css" rel="stylesheet" />
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>
<body>
  <p class="pane input">{{ query }}</p>
  {% with knowledge_panel = result.knowledge_panel %}
    {% if (knowledge_panel.name and knowledge_panel.blurb) %}
      <div class="pane overview">
        <div class="cell">
          <h3>{{ knowledge_panel.name }}</h3>
          <p>{{ knowledge_panel.blurb }}</p>
        </div>
        {% if knowledge_panel.metadata %}
          {% for key, value in knowledge_panel.metadata|items %}
            <div class="cell">
              <p>{{ key }}<p>
              <h3>{{ value }}</h3>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    {% endif %}
  {% endwith %}
  {% for result in result.results %}
    <div class="result">
      <h3>{{ result.title }}</h3>
      <p>{{ result.excerpt }}</p>
    </div>
  {% endfor %}
</body>
</html>
